.top-social-nav{
  background-color: $black;
  color: $white;
  height: 40px;

  nav {
    float: right;
    max-height: inherit;

    .nav-item{
      a{
        transition: color 0.3s ease;
        color: $blue;

        &:hover{
          color: $white;
        }
      }
    }
  }

}