.top-social-nav{
  background-color: $black;
  color: $white;
  height: 40px;

  nav {
    float: right;
    max-height: inherit;

    .nav-item{
      transition: color 0.3s ease;

      a{
        color: $blue;

        &:hover{
          color: $white;
        }
      }

      &.facebook{
        &:hover{
          background: $facebook-color;
        }
      }

      &.instagram{
        &:hover{
          background: $instagram-color;
        }
      }

      &.youtube{
        &:hover{
          background: $youtube-color;
        }
      }

      &.whatsapp{
        &:hover{
          background: $whatsapp-color;
        }
      }
    }
  }

}