$white: #fff;
$black: #000;
$black-light: #252525;
$blue-dark: #054aa1;
$blue: #245bff;
$blue-hover: #4883FF;


$facebook-color: #3b5999;
$instagram-color: #e4405f;
$youtube-color: #cd201f;
$whatsapp-color: #25D366;

.btn{
  &.btn-default{
    background: $blue;
    color: #fff;

    &:hover{
      background: $blue-hover;
    }
  }
}
